body{
    background-color: red;
}
h1{
    color: darkturquoise;
    background-color: green;
}
#show_sketch{
    float: right;
}
canvas{
    border: 5px solid snow;
    border-radius: 20px;
    animation-name: name;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes name{
    from{box-shadow: 1px 1px 38px cyan;}
    to{box-shadow: 1px 1px 38px gold;}
}
p,span{
    padding-top: 10px;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
#score{
    font-size: 35px;
    margin-left: 20px;
}
#time{
    font-size: 35px;
    margin-right: 20px;
    float: right;
}